<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Conshiy
 * @package     Conshiy_Master
 * @copyright   Copyright (c) 2014 a356 Development (http://www.a356dev.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Conshiy_Master>
            <version>0.0.0.2</version>
        </Conshiy_Master>
    </modules>
    <global>
        <models>
            <conshiymaster>
                <class>Conshiy_Master_Model</class>
                <resourceModel>conshiymaster_resource</resourceModel>
            </conshiymaster>
            <conshiymaster_resource>
                <class>Conshiy_Master_Model_Resource</class>
                <entities>
                    <network>
                        <table>conshiy_network</table>
                    </network>
                </entities>
            </conshiymaster_resource>
        </models>
        <helpers>
            <conshiymaster>
                <class>Conshiy_Master_Helper</class>
            </conshiymaster>
        </helpers>
        <resources>
            <conshiymaster_setup>
                <setup>
                    <module>Conshiy_Master</module>
                    <class>Conshiy_Master_Model_Resource_Setup</class>
                </setup>
            </conshiymaster_setup>
        </resources>
        <events>
        	<api_user_save_before>
            	<observers>
                	<conshiymaster_api_user_save_before>
                        <class>conshiymaster/observer</class>
                        <method>preventUsernameChange</method>
                	</conshiymaster_api_user_save_before>
            	</observers>
          	</api_user_save_before>
        	<api_user_save_after>
            	<observers>
                	<conshiymaster_api_user_save_after>
                        <class>conshiymaster/observer</class>
                        <method>notifyNetwork</method>
                	</conshiymaster_api_user_save_after>
            	</observers>
          	</api_user_save_after>
        </events>
    </global>
    <conshiy>
    	<master>
    		<role_name>conshiySlave</role_name>
    		<username>conshyslave</username>
    	</master>
    </conshiy>
</config>