<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Conshiy
 * @package     Conshiy_Master
 * @copyright   Copyright (c) 2014 a356 Development (http://www.a356dev.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Conshiy_Master>
            <version>0.0.0.2</version>
        </Conshiy_Master>
    </modules>
    <global>
        <models>
            <conshiymaster>
                <class>Conshiy_Master_Model</class>
                <resourceModel>conshiymaster_resource</resourceModel>
            </conshiymaster>
            <conshiymaster_resource>
                <class>Conshiy_Master_Model_Resource</class>
                <entities>
                    <network>
                        <table>conshiy_network</table>
                    </network>
                    <queue>
                        <table>conshiy_queue</table>
                    </queue>
                </entities>
            </conshiymaster_resource>
        </models>
        <helpers>
            <conshiymaster>
                <class>Conshiy_Master_Helper</class>
            </conshiymaster>
        </helpers>
        <blocks>
			<conshiymaster>
				<class>Conshiy_Master_Block</class>
			</conshiymaster>
		</blocks>
        <resources>
            <conshiymaster_setup>
                <setup>
                    <module>Conshiy_Master</module>
                    <class>Conshiy_Master_Model_Resource_Setup</class>
                </setup>
            </conshiymaster_setup>
        </resources>
        <events>
        	<!-- Product attributes changes queing -->
        	<catalog_entity_attribute_save_after>
                <observers>
                    <conshiy_attribute_sync>
                        <class>conshiymaster/observer_attribute</class>
                        <method>queue</method>
                    </conshiy_attribute_sync>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </global>
    <admin>
        <routers>
			<conshiymaster>
				<use>admin</use>
				<args>
					<module>Conshiy_Master</module>
					<frontName>conshiy</frontName>
				</args>
			</conshiymaster>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<conshiy_menu>
				<title>Conshiy</title>
				<sort_order>100</sort_order>
				<children>
					<network_menu module="conshiymaster">
						<title>Network</title>
						<sort_order>1</sort_order>
						<action>conshiy/adminhtml_network</action>
					</network_menu>
				</children>
			</conshiy_menu>
		</menu>
        <layout>
            <updates>
                <conshiymaster>
                    <file>conshiy/network.xml</file>
                </conshiymaster>
            </updates>
        </layout>
    </adminhtml>
    <conshiy>
    	<enities>
    		<catalog_product>
    			<enabled>0</enabled>
    			<catalog_category>
    				<enabled>0</enabled>
    			</catalog_category>
    			<catalog_product_attribute_set>
    				<enabled>0</enabled>
    				<catalog_product_attribute>
    					<enabled>1</enabled>	
    				</catalog_product_attribute>
    			</catalog_product_attribute_set>
    		</catalog_product>		
    	</enities>
    </conshiy>
</config>